:root

/* Common Styles */
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/**
  |============================
  | Header Styles-index
  |============================
*/
.header {
    background-color: #FFF;
}

.header-nav {}

.header-logo {
    color: #2E2F42;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
span {color: #4D5AE5;}

.header-list {
    font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.header-items {
    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #2E2F42;
}
.header-link {
    font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #434455;
}
.header-link-contacts:hover {
display: flex;
    width: 67px;
    align-items: flex-start;
    gap: 40px;
    color: #404bbf
}
.header-link-contacts:active {
    display: flex;
        width: 67px;
        align-items: flex-start;
        gap: 40px;
        color: #404bbf
}
/**
  |============================
  | Hero Style-index
  |============================
*/
.hero-section {
    background-color: #2E2F42;
}

.hero-name {
    font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        color: #FFF;
}

.hero-button {
    border-radius: 4px;
        background-color:#4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        cursor: pointer;
}
/**
  |============================
  | Features Styles-index
  |============================
*/
.features-section {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #2E2F42;
}

.feature-items {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #434455;
}
/**
  |============================
  | What are we doing/Duties Styles-index
  |============================
*/
.duties {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: #2E2F42;
}

.duties-photo {}

/**
  |============================
  | Our Team Styles-index
  |============================
*/
.our-team {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: #2E2F42;
}

.employee-photo {}

.employee-name {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #2E2F42;
}

.employee-position {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #434455;
}
/**
  |============================
  | Footer Section Styles-index
  |============================
*/
.footer {
    background-color: #2E2F42;
}

.footer-logo {
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        color: var(--cloud, #F4F4FD);
}
span {
        color: #4D5AE5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.footer-mission {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #F4F4FD;
}
/**
  |============================
  | Buttons Styles-Portfolio
  |============================
*/
.project-main-button {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        background-color: #404BBF;
        color: #FFF;
        cursor: pointer;
}

.project-button {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        color: #4D5AE5;
        background-color: #F4F4FD;
        cursor: pointer
}
/**
  |============================
  | Projects Styles-Portfolio
  |============================
*/
.company-services {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #2E2F42;
}

.company-depts {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #434455;
}