:root {
        --text-color:#4D5AE5;;
        --primary-white-color: #ffffff;
        --primary-font: "Roboto", sans-serif;
        --logo-color: #2E2F42;
        --background-color: #F4F4FD; 
        --secondary-color: #434455;
}

/* Common Styles */
body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
    color: #434455;
}
/**
  |============================
  | Header Styles-index
  |============================
*/

.header-nav-list {}

.header-link-logo {
        color: var(--text-color);
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;

}

.link {
        text-decoration: none;
}

.header-name {
        color: var(--logo-color);
}

.header-list {}

.list {
        list-style: none;
}

.header-items {}

.header-link {
        font-size: 16px;
        color: #2E2F42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-link:hover {color: #404BBF;}
.header-link:focus {color:#404BBF}

.address-items {
        text-decoration: none;
        font-style: normal;
        
}

.address-link {
        text-decoration: none;
        color: #434455;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.address-link:hover {color: #404BBF}
.address-link:focus {color:#404BBF}

.company-address {
        font-style: normal;
}

.address-list {
        font-style: normal;
}

/**
  |============================
  | Hero Style-index
  |============================
*/
.hero-section {
    background-color: #2E2F42;
}

.hero-name {
        font-size: 56px;
        font-weight: 700;
        letter-spacing: 1.12px;
        color: #FFF;
        line-height: 1.07;
        text-align: center;
        
}

.hero-button {
        background-color:#4D5AE5;
        color: #FFF;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-weight: 500;
}

.hero-button:hover {background-color: #404BBF;}
.hero-button:focus {background-color: #404BBF;}

/**
  |============================
  | Features Styles-index
  |============================
*/
.features-section {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: #2E2F42;
        line-height: 1.2;
}

.feature-items {
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #434455;
        line-height: 1.5;
}
/**
  |============================
  | What are we doing/Duties Styles-index
  |============================
*/
.duties {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: #2E2F42;
        line-height: 1.11;
        text-align: center;
        line-height: 1.11;
        text-align: center;
}

.duties-photo {}

/**
  |============================
  | Our Team Styles-index
  |============================
*/

.our-team-section {
        background-color: #F4F4FD;
}

.our-team {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: #2E2F42;
        line-height: 1.11;
        text-align: center;
}

.employee-photo {
        background-color: #FFFFFF;
}

.employee-name {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: #2E2F42;
        line-height: 1.2;
}

.employee-job {
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #434455;
        line-height: 1.5;
}
.employee-list {
        background-color: #FFFFFF;
}

/**
  |============================
  | Footer Section Styles-index
  |============================
*/
.footer {
    background-color: #2E2F42;
    font-family: Raleway, sans-serif;
}

.footer-logo {
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        color: var(--cloud, #4d5ae5);
        font-family: "Raleway", sans-serif;
        line-height: 1.17;
        text-decoration: none;

}

.footer-logo-studio {
        color: #f4f4fd;

}

.footer-mission {
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #F4F4FD;
        line-height: 1.5;
}
/**
  |============================
  | Buttons Styles-Portfolio
  |============================
*/

.project-button:hover {
        background-color: #404BBF;
        color: #FFF;
}

.project-button:focus {
        background-color: #404BBF;
        color: #FFF;
}

.project-button {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.64px;
        color: var(--text-color);
        background-color: var(--background-color);
        cursor: pointer;
        font-family: inherit;
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
}

.project-button-list {
        list-style: none;
}

/**
  |============================
  | Projects Styles-Portfolio
  |============================
*/
.company-services {
        font-size: 20px;
        font-weight: 500;
        color: var(--logo-color);
        line-height: 1.2;
        letter-spacing: 0.02em;
        
}

.company-depts {
        font-size: 16px;
        color: var(--secondary-color);
        line-height: 1.5;
        letter-spacing: 0.02em;
        
  
}

.company-services-list {
        list-style: none;
}
.company-illustrations {
        text-decoration: none;
}