:root {
        --text-color:#4D5AE5;;
        --primary-white-color: #ffffff;
        --primary-font: "Roboto", sans-serif;
        --logo-color: #2E2F42;

}

/* Common Styles */
body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
    color: #434455
}
/**
  |============================
  | Header Styles-index
  |============================
*/

.header-nav-list {}

.header-link-logo {
        color: var(--text-color);
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;

}

.link {
        text-decoration: none;
}

.header-name {
        color: var(--logo-color);
}

.header-list {}

.list {
        list-style: none;
}

.header-items {}

.header-link {
        font-size: 16px;
                color: #2E2F42;
}
.header-link: 

.address-items {
        text-decoration: none;
}

.address-link {
        text-decoration: none;
        color: #434455;
}

/**
  |============================
  | Hero Style-index
  |============================
*/
.hero-section {
    background-color: #2E2F42;
}

.hero-name {
    font-size: 56px;
        font-weight: 700;
        letter-spacing: 1.12px;
        color: #FFF;
}

.hero-button {
        background-color:#4D5AE5;
        color: #FFF;
        cursor: pointer;

}

/**
  |============================
  | Features Styles-index
  |============================
*/
.features-section {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: #2E2F42;
}

.feature-items {
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #434455;
}
/**
  |============================
  | What are we doing/Duties Styles-index
  |============================
*/
.duties {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: #2E2F42;
}

.duties-photo {}

/**
  |============================
  | Our Team Styles-index
  |============================
*/
.our-team {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: #2E2F42;
}

.employee-photo {}

.employee-name {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: #2E2F42;
}

.employee-job {
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #434455;
}
/**
  |============================
  | Footer Section Styles-index
  |============================
*/
.footer {
    background-color: #2E2F42;
    font-family: Raleway, sans-serif;
}

.footer-logo {
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        color: var(--cloud, #F4F4FD);
}
span {
        color: #4D5AE5;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.footer-mission {
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #F4F4FD;
}
/**
  |============================
  | Buttons Styles-Portfolio
  |============================
*/
.project-main-button {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.64px;
        background-color: #404BBF;
        color: #FFF;
        cursor: pointer;
}

.project-button {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.64px;
        color: #4D5AE5;
        background-color: #F4F4FD;
        cursor: pointer
}
/**
  |============================
  | Projects Styles-Portfolio
  |============================
*/
.company-services {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: #2E2F42;
}

.company-depts {
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #434455;
}